
<h2><%= l :create_new_page %> </h2>

<%= form_for :page, :url => url_for(:controller=>'gollum_pages',:action=>'edit') do |f| -%>

  <p>
    <label label-for='pageid'><%= l :new_page_name%></label>
    <input type='text' id='pageid' name='id'>
    <input type='submit' value="<%= l(:button_create) %>">
  </p>

<% end %>

